.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--border-color);
    
    height: 2.2rem;
    
}
.header__nav{
   display: flex;
   gap: 0.5rem
}
.header__button{
   
    text-decoration: none;
    padding: 0.4rem;
    color: var(--font-color)
    
}

.header__button:hover{
    opacity: 0.2;
}