.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    
    height: 2.2rem;
    
}
.header__nav{
   display: flex;
   gap: 0.5rem
}
.header__button{
    color: black;
    text-decoration: none;
    padding: 0.4rem;
    
}

.header__button:hover{
    opacity: 0.2;
}